.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #545454;
}

.messages-container::-webkit-scrollbar {
  width: 0.5rem;
}

.chat-container .messages-container .message-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  max-width: 60%;
  background-color: #000000;
  margin: 0.5rem 0.5rem;
  border-radius: 12px;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.chat-container .messages-container .message-history p {
  margin: 0;
}

.chat-container .messages-container .message-history .date {
  font-size: 0.5rem;
  color: #ffffff;
  margin: 0.2rem 0;
}

.chat-container .messages-container .message-history.user {
  align-self: flex-end;
  align-items: flex-end;
  background-color: #646cff;
}

.chat-container .messages-container .message-history.ai {
  align-self: flex-start;
  align-items: flex-start;
}

.chat-container .field {
  display: grid;
  grid-template-columns: 1fr 3rem;
  margin-top: 0.5rem;
  width: 100%;
}

.chat-container .field .message {
  width: 100%;
  padding: 0.3rem 0.5rem;
  line-height: 1.8rem;
  border-radius: 8px;
  outline: none !important;
  border: none !important;
}

.chat-container .field .send {
  background-color: #646cff;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: fit-content;
  transition: background-color 0.25s;
}

.chat-container .field .send:hover img {
  color: white;
}

.chat-container .field .send img {
  width: 1.5rem;
  height: 1.5rem;
}

.chat-container .field .send:hover {
  background-color: #535bf2;
}
