.message-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff36;
}

.message-loading {
  display: flex;
  gap: 1rem;
}

.message-loading span {
  position: relative;
}

.message-loading span::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(44, 44, 44, 0.416);
  transform: rotateX(-60deg);
  bottom: 0;
  left: 0;
  position: absolute;
}

.message-loading span::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  animation: up-and-down infinite 1s ease-in-out;
}

.message-loading span:nth-child(1)::after {
  animation-delay: 0s;
}

.message-loading span:nth-child(2)::after {
  animation-delay: 0.2s;
}

.message-loading span:nth-child(3)::after {
  animation-delay: 0.4s;
}

.message-loading span:nth-child(4)::after {
  animation-delay: 0.5s;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
