#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 85%;
  min-height: 100vh;
}

.evolver-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 4rem);
  width: 100%;
}
